.chartContainer {
    width: 0%;
    height: 80vh;
    margin-bottom: 20px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .action {
        display: flex;
        align-items: center;

        // p:last-child {
        //     margin-right: 6px;
        // }
    }
}
@media only screen and (max-width: 768px) {
    .title {
        display: inline-block;
    
        .action { 
            p {
                margin-left: 0;
            }
        }
    }
}